wp-cache/
node_modules/
*.DS_Store
.DS_Store
.htaccess
error_log
debug.log


wp-content/cache/
wp-content/uploads/revslider/
wp-content/backup-db/
wp-content/mu-plugins/
wp-content/backups/
wp-content/upgrade/
wp-content/jch_optimize_backup_images/
wp-content/themes/tmp/
wp-content/themes/divi-child/node_modules/
wp-content/themes/divi-child/dist/
wp-content/themes/divi-child/libraries/
wp-content/themes/divi-child/js/

/.htaccess
/license.txt
/readme.html
/readme.md

/sitemap.xml.gz
/hidemywp.conf
**/temp-write-test-*
# **/google*.html

\.vs/

wp-content/uploads/wpallimport/
