$img: '../images/';

$breakpoints: (
  xxxs: 320px,
  xxs: 375px,
  xs: 425px,
  s: 768px,
  m: 992px,
  l: 1200px,
  xl:1024px,
  xxl:1440px,
  xxxl: 1400px,
  xxxxl: 1600px,
  xxxxxl: 1800px,
  sl: 2000px,
);

// sizing
$base: 62.5%;

$prim: darken(#ee7521,10%);
$sec: #f5cf0d;

$pink:#e86ca0;
$green:#7CC576;
$purple:#bc5fe3;
$skyblue:#5bd1d1;
$darkpurple:#915fe3;
$white:#ffffff;
$text:#404040;
$yellow:#EEFF97;






